node_modules/
dist/
.DS_Store
.vscode/
.idea/
.env
.env.*
server/public/
vite.config.ts.*
*.tar.gz
# logs
logs/
*.log
# build artifacts
build/
coverage/

# Local OS files
Thumbs.db
.vercel
.env*.local
